<!DOCTYPE html>
<html>
<head>
    <title>Запрос на бронирование</title>
</head>
<body>
    <h1>Запрос на бронирование</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li><strong>{{ category }}:</strong> {{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post">
        <h2>Дата и время бронирования</h2>
        <input type="datetime-local" id="booking_start" name="booking_start">
        <label>На сколько минут: <input type="number" step="10" id="booking_time" name="booking_time"></label>

        <button type="submit">Отправить</button>
        <a href="{{ url_for('building.browse') }}">Отмена</a>
    </form>
</body>
</html>