# База данных
DB_HOST=db
DB_PORT=5432
DB_NAME=booking
DB_USER=postgres
DB_PASSWORD=1234561

# Flask
SECRET_KEY=ОднаждыТутБудетКлюч
FLASK_DEBUG=false

# Настройки приложения
APP_PORT=5000
ADMIN_EMAIL=admin@example.com
PAYMENT_ENABLED=true
PAYMENT_REFUND_TIMEOUT_HOURS=24
RATING_MIN_VOTES=5
TZ_NAME=Europe/Moscow
